*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1em;
    background-color: #04758F;
}
/* layout da pág. */
.area-cabecalho{
    background-color: #093842;
    padding: 20px;
    text-align: center;
}
.area-menu, .area-logo{
    padding: 10px;
}
.container{
    width: 940px;
    margin: 0px auto;
    padding: 15px;
}
.area-postagens{
    width: 660px;
    float: left;
}
.area-lateral{
    width: 240px;
    float: right;
}
.rodape{
    background-color: #093842;
    color: white;
    text-align: center;
    padding: 15px;
    font-weight: bold;
    clear: both;
}

.postagem{
    color: white;
    background-color: #093842;
    padding: 20px;
    margin-bottom: 20px;
}
.conteudo-lateral{
    color: white;
    background-color: #093842;
    padding: 10px;
    margin-bottom: 10px;
}
.postagem-lateral{
    font-size: 0.8em;
    margin-top: 5px;
    margin-left: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
/* last-child, first-child, nth-child */
.postagem-lateral:last-child{ 
    border-bottom: none;
}
/* formatações gerais */

p{
    padding-top: 10px;
}

h1{
    color: #DBCC27;
    font-size: 2.5em;
}
h2{
    color: #27BADB;
}
h3{
    color: #04758F;
    background-color: #27BADB;
    padding: 5px;
    margin-bottom: 5px;
}
.data-postagem{
    font-size: 0.8em;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid indigo;
    display: block;
}
img{
    width: 620px;
}
.branco{
    color: #fff;
}
/* formatação de links */
/* a{
    text-decoration: none;
}
a:link{
    color: blue;
}
a:visited{
    color: green;
}
a:hover{
    color: aqua;
}
a:active{
    color: black;
} */
a{
    text-decoration: none;
}
.area-menu a:link, .area-menu a:visited{
    color: #fff;
    padding: 8px 12px;
}
.area-menu a:hover{
    color: #f7b600;
    background-color: #04758F;
    transition: .75s;
}
.container a:link, .container a:visited{
    color: #04758F;
}
.container a:hover{
    color: #f7b600;
    text-decoration: underline;
    transition: .75s;
}
/* Área violoes */
.area-violao{
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    width: 200px;
    float: left;
    margin: 20px;
}
.violao{
    background-color: #fff;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    height: 500px;
}

.area-violao img {
    width: 150px;
    display: block;
    margin: auto;
}

.texto-violoes {
    padding: 10px;
    text-align: center;
}

.preco {
    text-align: center;
    font-size: 25px;
}